modules = ["nodejs-20", "web", "bash", "postgresql-16"]
run = "cd app2 && npm install && npm run build && npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["unzipNLS", "nano", "openssh", "lsof", "jq", "postgresql_13", "sshpass"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 3000
externalPort = 5173

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34207

[[ports]]
localPort = 34235

[[ports]]
localPort = 35355

[[ports]]
localPort = 36453

[[ports]]
localPort = 36743

[[ports]]
localPort = 37473

[[ports]]
localPort = 37867
externalPort = 3000

[[ports]]
localPort = 37879

[[ports]]
localPort = 37981

[[ports]]
localPort = 38037

[[ports]]
localPort = 38227
externalPort = 8099

[[ports]]
localPort = 38715
externalPort = 3002

[[ports]]
localPort = 43391

[[ports]]
localPort = 45675

[[ports]]
localPort = 46337
externalPort = 3001


[env]
PORT = "3000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "بناء "
mode = "sequential"
author = 47788345

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && npm run build "

[agent]
expertMode = true

[userenv]

[userenv.shared]
JWT_ACCESS_SECRET = "7caef7dbed50790b6bf0539bdbc6084d3727037f581e4fa4df31a4e182dd5a060103fcabb23037281219556ec06b1f0b81acb3b806119d70ab9ca139713cae5b"
JWT_REFRESH_SECRET = "5057cb38ab008e55901f35122af497263099573461db7c6e6e9fe4436c621b64be1eab0678557c1d2fd8160bd1c9708b93fa3a74921ea6e81147c1456b98b942"

[userenv.development]
PORT = "5000"
HEALTH_CHECK_PORT = "5000"
HEALTH_CHECK_URL = "http://localhost:5000/api/health"
DOMAIN = "localhost:5000"
