modules = ["nodejs-20", "web", "bash", "postgresql-16"]
run = "cd app2 && npm install && npm run build && npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"
packages = ["unzipNLS", "nano", "openssh", "lsof", "jq", "postgresql_13", "sshpass"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]


[env]
PORT = "3000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Deploy via Git"

[[workflows.workflow]]
name = "بناء "
mode = "sequential"
author = 47788345

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && npm run build "

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Dev Mode"
author = 50892970
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && npm run dev"

[[workflows.workflow]]
name = "Deploy via Git"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app2 && ./scripts/deploy_via_git.sh"

[workflows.workflow.metadata]
outputType = "console"

[agent]
expertMode = true

[userenv]

[userenv.shared]
JWT_ACCESS_SECRET = "7caef7dbed50790b6bf0539bdbc6084d3727037f581e4fa4df31a4e182dd5a060103fcabb23037281219556ec06b1f0b81acb3b806119d70ab9ca139713cae5b"
JWT_REFRESH_SECRET = "5057cb38ab008e55901f35122af497263099573461db7c6e6e9fe4436c621b64be1eab0678557c1d2fd8160bd1c9708b93fa3a74921ea6e81147c1456b98b942"

[userenv.development]
PORT = "6000"
HEALTH_CHECK_PORT = "6000"
HEALTH_CHECK_URL = "http://localhost:6000/api/health"
DOMAIN = "localhost:6000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6000

[[ports]]
localPort = 34181
externalPort = 4200

[[ports]]
localPort = 34639
externalPort = 3003

[[ports]]
localPort = 38251
externalPort = 3002

[[ports]]
localPort = 39985
externalPort = 3001

[[ports]]
localPort = 41819
externalPort = 3000

[[ports]]
localPort = 43543
externalPort = 5000
