// Add these dependencies to your app-level build.gradle
dependencies {
    // Sentry SDK
    implementation "io.sentry:sentry-android:6.34.0"

    // OpenTelemetry SDK
    implementation "io.opentelemetry:opentelemetry-sdk:1.31.0"
    implementation "io.opentelemetry:opentelemetry-exporter-otlp:1.31.0"
    implementation "io.opentelemetry:opentelemetry-extension-kotlin:1.31.0"
}
